<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heimavinna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="topnav">
        <ul class="ul">
        <a href="{{ url_for('cool_form') }}">Prufa</a>
        <a class="active" href="#heim">Heim</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        </div>
    <h1>Svínvirkar</h1>
</body>
</html>