<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heimavinna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="topnav">
        <ul class="ul">
        <a class="active" href="{{ url_for('index') }}">Heim</a>
        <a href="{{ url_for('sida2') }}">Síða 2</a>
        <a href="{{ url_for('sida3') }}">Síða 3</a>
        <a href="https://github.com/Heimavinna/heimavinna" target="_blank">Github</a>
        </div>
    <h1>Halló heimur hér kemur heimavinna</h1>
    <h1>Halló heimur hér kemur heimavinna</h1>
    <h1>Halló heimur hér kemur heimavinna</h1>
    <h1>Halló heimur hér kemur heimavinna</h1>
    <h1>Halló heimur hér kemur heimavinna</h1>
    <h1>Halló heimur hér kemur heimavinna</h1>

</body>
</html>